/*------------------------------------*\
    #SECTION-MAIN-LAYOUT
\*------------------------------------*/

@import 'config';
//@import 'boilerplate';

/* ==========================================================================
   HTML overrule:
   ========================================================================== */

body {
    background: $app-primary-black;
    color: $app-text-color;
    // font-family: 'Noto Sans';
    font-family: sans-serif;
    font-size: 1em;
}
header {}
main {}
footer {}
img {
    max-width: 100%;
    max-height: 100%;
}

/* ==========================================================================
   Helpers:
   ========================================================================== */

.vh,
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ==========================================================================
   LAYOUT:
   ========================================================================== */


/*
 *  header: within a header-tag
 */

.header__wrapper {
    background: $app-primary-black;
    background: url(../../img/header__bg.gif) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    height: 100px;
    padding: 10px 0;
    width: 100%;
    z-index: 100;
    @media screen and (min-width: 768px) {
        position: fixed;
    }
}
.header {
    margin: 0 auto;
    max-width: 960px;
    height: 100%;
}
.header h1 {
    display: inline-block;
    font-size: 1.4em;
    margin: 0;
}
.header h1 span {
    display: block;
    font-size: 0.58em;
    text-align: center;
}

/*
 *  content: within a main-tag
 */

.content__wrapper {
    width: 100%;
    @media screen and (min-width: 768px) {
        padding-top: 100px;
    }
}
.content {
    box-sizing: border-box;
    margin: 0 auto;
}
.aside {
    padding-right: .6em;
    @media screen and (min-width: 768px) {
        display: table-cell;
        width: 33%;
    }
}
.article {
    overflow: auto;
    //padding: 0 .6em;
    @media screen and (min-width: 768px) {
        display: table-cell;
    }
}

/* ==========================================================================
   LAYOUT: sections
   ========================================================================== */

.section {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 3em;
}

/*
 *  Elements: section
 */

.section__home {
    background-image: url(../../img/typer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    opacity: .8;
    max-width: 100%;
    min-height: 500px;
}
.test {
    display: inline-block;
    width: 200px;
    height: 300px;
    border: 10px solid transparent;
    border-image: url(../../img/border.png);
    border-image-slice: 25;
    border-image-width: 10px;
    border-image-repeat: stretch;
    border-image-outset: 0;
}
.section__intro {}
.section__werk {}
.section__cards {}
.section__logos {}
.section__cases {}

/* ==========================================================================
   LAYOUT: sections
   ========================================================================== */


/*
 *  footer: within a footer-tag
 */

.footer {
    color: $app-primary-black;
    box-sizing: border-box;
    font-size: .9em;
    height: 260px;
    margin: 0 auto;
    max-width: 960px;
    padding: .6em 0;
}

/*
 *  Elements
 */

.footer__wrapper {
    background: $app-primary-white;
    background: url(../../img/footer__bg.gif) no-repeat center;
    background-size: cover;
    width: 100%;
}
.footer__contact {
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.footer__item {
    display: inline-block;
}
.case__logo {
    //width: 100px;
    max-height: 80px;
    max-width: 80px;
}

/* ==========================================================================
   CASE enhancements:
   ========================================================================== */


/*
 *  figure
 */

.figure {
    background: white;
    border: 2px solid yellow;
    box-sizing: border-box;
    display: block;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: .1em;
    width: 100%;
    @media screen and (min-width: 320px) {
        border-color: fuchsia;
        display: inline-block;
        width: 45%;
    }
    @media screen and (min-width: 480px) {
        border-color: purple;
        width: 45%;
    }
    @media screen and (min-width: 520px) {
        border-color: blue;
        width: 33%;
    }
    @media screen and (min-width: 600px) {
        border-color: green;
        width: 30%;
    }
    @media screen and (min-width: 768px) {
        border-color: red;
        width: 40%;
    }
}

/*
 *  Modifiers: figure
 */

.figure--wide {
    width: 100%;
    display: block;
    float: none;
    margin-left: 0;
    @media screen and (min-width: 600px) {
        width: 75%;
    }
}

/*
 *  Elements: figure
 */

.figure__viewport {
    margin: 0;
    position: relative;
    overflow: hidden;
}
.figure__img {
    margin: 0 auto;
    display: block;
    width: 100%;
}
.figure__text {
    padding: 1em;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    visibility: hidden;
    font-size: 0.8em;
    transition: all 0.4s ease-in-out 0.3s;
}
.figure:hover .figure__text {
    left: 0;
    visibility: visible;
    transition: left 0.6s ease-in-out 0.1s;
}

/*
 *  Endless
 */

.endless__wrapper {
    min-height: 400px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s .5s ease-in;
}
.endless__wrapper--visible {
    opacity: 1;
    visibility: visible;
    //    transition: opacity 1s ease-in;
}

/* ==========================================================================
   Imports:
   ========================================================================== */

@import 'card';
