/*------------------------------------*\
    #SECTION-MAIN-LAYOUT
\*------------------------------------*/

@import 'config';
@import 'boilerplate';

/* ==========================================================================
   HTML overrule:
   ========================================================================== */

body {
    background: $app-primary-black;
    color: $app-text-color;
    font-family: 'Noto Sans';
    font-size: 1em;
}
.header {
    margin-bottom: 1em;
}
.page {
    margin: 0 auto;
    max-width: 980px;
}
.container {
    border: .1em solid gray;
    margin-bottom: 1.8em;
    padding: .6em;
}
.aside {
    float: left;
    width: 49%;
}
.main {
    margin-left: 51%;
}
.footer{
    font-size: .9em;
}
.footer__contact{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer__item{
    display: inline-block;
}

/* ==========================================================================
   Imports:
   ========================================================================== */
