/*------------------------------------*\
    #SECTION-MAIN-LAYOUT
\*------------------------------------*/

@import 'config';
@import 'boilerplate';

/* ==========================================================================
   HTML overrule:
   ========================================================================== */

body {
    color: $app-text-color;
    font-family: 'Noto Sans';
    font-size: 1em;
}



/* ==========================================================================
   Imports:
   ========================================================================== */

